.pokedex-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background: rgb(189,237,6);
  background: radial-gradient(circle, rgba(189,237,6,0.8883928571428571) 0%, rgba(251,15,63,1) 100%);
}

.pokedex-input {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid red;
}

.pokedex-button {
  margin: 10px;
  padding: 5px 10px;
  background-color: rgba(251,15,63,1);
  font-size: 16px;
  cursor: pointer;
}

.pokedex-pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokedex-pokemon-card {
  margin: 10px;
}
